<svg class="kubus-hero__defs" width="0" height="0" aria-hidden="true" focusable="false">
  <defs>
    <g id="kb-far">
      <polygon points="0,-12 10.4,-6 0,0 -10.4,-6" style="fill:var(--ft);stroke:var(--ft)" fill-opacity="0.14"/>
      <polygon points="-10.4,-6 0,0 0,12 -10.4,6" style="fill:var(--fl);stroke:var(--fl)" fill-opacity="0.14"/>
      <polygon points="0,0 10.4,-6 10.4,6 0,12" style="fill:var(--fr);stroke:var(--fr)" fill-opacity="0.14"/>
    </g>
    <g id="kb-mid">
      <polygon points="0,-20 17.3,-10 0,0 -17.3,-10" style="fill:var(--ft)"/>
      <polygon points="-17.3,-10 0,0 0,20 -17.3,10" style="fill:var(--fl)"/>
      <polygon points="0,0 17.3,-10 17.3,10 0,20" style="fill:var(--fr)"/>
    </g>
    <g id="kb-near">
      <polygon points="0,-31 26.8,-15.5 0,0 -26.8,-15.5" style="fill:var(--ft)"/>
      <polygon points="-26.8,-15.5 0,0 0,31 -26.8,15.5" style="fill:var(--fl)"/>
      <polygon points="0,0 26.8,-15.5 26.8,15.5 0,31" style="fill:var(--fr)"/>
    </g>
  </defs>
</svg>
<div class="kubus-hero__scene">
  <svg class="kubus-hero__static" viewBox="0 0 1600 560" preserveAspectRatio="none" aria-hidden="true" focusable="false">
    <defs>
      <pattern id="kb-iso" width="53.7" height="31" patternUnits="userSpaceOnUse">
        <path d="M0 15.5 L26.8 0 L53.7 15.5 M0 15.5 L26.8 31 L53.7 15.5" fill="none" stroke="#8fb5ff" stroke-width="0.6"/>
      </pattern>
      <radialGradient id="kb-fade" cx="50%" cy="45%" r="70%">
        <stop offset="0" stop-color="#fff" stop-opacity="0.1"/>
        <stop offset="0.55" stop-color="#fff" stop-opacity="0.7"/>
        <stop offset="1" stop-color="#fff" stop-opacity="1"/>
      </radialGradient>
      <mask id="kb-edge"><rect width="1600" height="560" fill="url(#kb-fade)"/></mask>
    </defs>
    <rect class="kubus-hero__grid" width="1600" height="560" fill="url(#kb-iso)" mask="url(#kb-edge)"/>
    <g class="kubus-hero__links">
      <line x1="376.9" y1="-5.7" x2="289.3" y2="11.4" vector-effect="non-scaling-stroke"/>
      <line x1="1302.2" y1="7.6" x2="1171.9" y2="78.8" vector-effect="non-scaling-stroke"/>
      <line x1="240.4" y1="83.8" x2="273.3" y2="158.8" vector-effect="non-scaling-stroke"/>
      <line x1="324.4" y1="87.4" x2="366.9" y2="159.7" vector-effect="non-scaling-stroke"/>
      <line x1="615.9" y1="85.4" x2="566.4" y2="-11.3" vector-effect="non-scaling-stroke"/>
      <line x1="0.2" y1="155.5" x2="9.2" y2="328" vector-effect="non-scaling-stroke"/>
      <line x1="1225.3" y1="162.4" x2="1213" y2="316.7" vector-effect="non-scaling-stroke"/>
      <line x1="1403.4" y1="169.1" x2="1534.5" y2="246" vector-effect="non-scaling-stroke"/>
      <line x1="97" y1="330.3" x2="203.7" y2="355.4" vector-effect="non-scaling-stroke"/>
      <line x1="516.2" y1="407" x2="459.8" y2="485.6" vector-effect="non-scaling-stroke"/>
      <line x1="380.7" y1="493.1" x2="414.7" y2="574.9" vector-effect="non-scaling-stroke"/>
      <line x1="1218.2" y1="489.5" x2="1263.6" y2="563" vector-effect="non-scaling-stroke"/>
      <line x1="1492.6" y1="483.9" x2="1440.5" y2="571.4" vector-effect="non-scaling-stroke"/>
      <line x1="1363.6" y1="565.4" x2="1541.7" y2="574.2" vector-effect="non-scaling-stroke"/>
    </g>
  </svg>
  <div class="kubus-hero__layer kubus-hero__layer--far">
    <i class="kb-cube" style="left:14.97%;top:-0.20%;--t:12.8s;--d:-1.81s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#49b8fb;--fl:#1e64e6;--fr:#1e50cf"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:19.18%;top:-0.73%;--t:11.0s;--d:-2.18s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#4eb5fa;--fl:#2061e5;--fr:#204fd0"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:33.96%;top:-0.31%;--t:12.4s;--d:-3.49s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#5ea7f9;--fl:#2459e2;--fr:#2949d1"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:44.96%;top:0.34%;--t:12.7s;--d:-4.80s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#6b9df8;--fl:#2753df;--fr:#2f44d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:48.78%;top:0.59%;--t:11.2s;--d:-4.88s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#6f9af7;--fl:#2851de;--fr:#3243d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:56.40%;top:0.44%;--t:12.1s;--d:-5.96s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7893f7;--fl:#2a4ddd;--fr:#3640d3"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:60.57%;top:0.12%;--t:11.7s;--d:-6.29s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7d8ff6;--fl:#2c4bdc;--fr:#393ed3"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:90.57%;top:0.08%;--t:12.6s;--d:-9.25s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#9e74f4;--fl:#343ad4;--fr:#4a33d6"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:2.24%;top:10.04%;--t:12.9s;--d:-0.46s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#3dc2fc;--fl:#1b6ae9;--fr:#1754ce"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:9.71%;top:9.39%;--t:12.7s;--d:-1.30s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#45bcfb;--fl:#1d66e7;--fr:#1c52cf"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:31.86%;top:9.33%;--t:11.9s;--d:-3.69s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#5ea8f9;--fl:#2459e2;--fr:#2949d1"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:50.69%;top:9.69%;--t:12.4s;--d:-5.17s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7396f7;--fl:#294fde;--fr:#3442d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:54.75%;top:9.11%;--t:12.7s;--d:-5.75s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7893f7;--fl:#2a4ddd;--fr:#3640d3"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:77.50%;top:8.52%;--t:11.5s;--d:-8.15s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#917ef5;--fl:#3140d7;--fr:#4337d5"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:88.80%;top:9.88%;--t:13.2s;--d:-8.93s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#9e74f4;--fl:#343ad4;--fr:#4a33d6"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:7.53%;top:18.73%;--t:11.1s;--d:-1.31s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#44bcfb;--fl:#1d66e7;--fr:#1b52cf"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:33.61%;top:19.19%;--t:12.8s;--d:-4.03s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#62a4f9;--fl:#2558e1;--fr:#2b48d1"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:56.69%;top:19.36%;--t:12.6s;--d:-6.46s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7c8ff6;--fl:#2b4bdc;--fr:#383ed3"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:90.76%;top:19.19%;--t:11.0s;--d:-9.31s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#a270f3;--fl:#3538d4;--fr:#4c31d6"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:1.56%;top:28.35%;--t:11.4s;--d:-0.84s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#3fc0fb;--fl:#1c68e8;--fr:#1953cf"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:9.64%;top:27.27%;--t:12.8s;--d:-1.79s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#48b9fb;--fl:#1e64e7;--fr:#1d50cf"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:35.65%;top:28.76%;--t:11.3s;--d:-4.12s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#66a1f8;--fl:#2655e0;--fr:#2d46d1"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:39.27%;top:28.40%;--t:12.3s;--d:-4.62s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#6a9ef8;--fl:#2754df;--fr:#2f45d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:43.05%;top:27.36%;--t:11.8s;--d:-5.02s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#6e9af8;--fl:#2852df;--fr:#3143d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:46.78%;top:27.83%;--t:12.7s;--d:-5.26s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7297f7;--fl:#294fde;--fr:#3342d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:84.71%;top:27.76%;--t:13.0s;--d:-8.85s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#9d75f4;--fl:#343ad5;--fr:#4a33d6"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:7.80%;top:37.34%;--t:13.2s;--d:-1.89s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#48b9fb;--fl:#1e64e7;--fr:#1d50cf"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:11.36%;top:36.50%;--t:11.9s;--d:-2.22s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#4cb6fa;--fl:#1f62e6;--fr:#1f4fd0"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:37.72%;top:37.88%;--t:13.1s;--d:-5.10s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#6a9ef8;--fl:#2753df;--fr:#2f45d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:41.69%;top:36.95%;--t:12.9s;--d:-5.12s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#6f9af7;--fl:#2851df;--fr:#3143d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:45.54%;top:37.16%;--t:12.2s;--d:-5.33s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7397f7;--fl:#294fde;--fr:#3442d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:53.03%;top:38.12%;--t:11.5s;--d:-6.23s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7c90f6;--fl:#2b4bdc;--fr:#383fd3"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:60.46%;top:37.69%;--t:12.1s;--d:-6.94s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#8489f6;--fl:#2d47da;--fr:#3c3cd4"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:93.85%;top:36.53%;--t:11.2s;--d:-10.20s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#a96bf3;--fl:#3735d2;--fr:#502fd7"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:17.21%;top:47.37%;--t:12.6s;--d:-3.30s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#55affa;--fl:#215ee4;--fr:#244cd0"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:28.45%;top:46.06%;--t:13.3s;--d:-4.27s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#61a5f9;--fl:#2558e1;--fr:#2a48d1"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:50.56%;top:46.75%;--t:13.0s;--d:-6.56s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7a91f7;--fl:#2b4cdc;--fr:#373fd3"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:99.98%;top:47.18%;--t:12.1s;--d:-11.13s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#b263f2;--fl:#3930d0;--fr:#552cd7"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:30.20%;top:56.24%;--t:11.9s;--d:-4.69s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#65a2f8;--fl:#2656e0;--fr:#2d46d1"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:37.30%;top:55.65%;--t:13.1s;--d:-5.32s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#6d9bf8;--fl:#2852df;--fr:#3144d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:56.67%;top:56.27%;--t:13.4s;--d:-6.87s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#8389f6;--fl:#2d47da;--fr:#3c3cd4"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:64.32%;top:56.66%;--t:12.4s;--d:-8.13s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#8c82f5;--fl:#2f43d8;--fr:#4139d4"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:79.22%;top:55.98%;--t:11.8s;--d:-9.04s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#9d75f4;--fl:#343bd5;--fr:#4933d6"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:5.79%;top:65.17%;--t:12.0s;--d:-2.25s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#4cb6fa;--fl:#1f62e6;--fr:#1f4fcf"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:9.58%;top:65.30%;--t:13.1s;--d:-2.51s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#50b3fa;--fl:#2060e5;--fr:#214ed0"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:17.20%;top:65.30%;--t:11.0s;--d:-3.45s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#58acf9;--fl:#225ce3;--fr:#264bd0"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:39.43%;top:65.20%;--t:12.5s;--d:-5.36s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7298f7;--fl:#2950de;--fr:#3342d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:58.24%;top:64.88%;--t:12.8s;--d:-7.45s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#8787f5;--fl:#2e45d9;--fr:#3e3bd4"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:65.73%;top:65.51%;--t:11.6s;--d:-8.42s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#8f80f5;--fl:#3041d8;--fr:#4238d5"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:73.81%;top:64.71%;--t:13.4s;--d:-8.78s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#9878f4;--fl:#333dd6;--fr:#4735d5"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:95.74%;top:64.50%;--t:11.2s;--d:-11.07s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#b165f2;--fl:#3931d1;--fr:#542cd7"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:99.97%;top:65.12%;--t:13.3s;--d:-11.69s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#b661f2;--fl:#3a2ecf;--fr:#562ad7"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:-0.03%;top:74.62%;--t:12.5s;--d:-1.88s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#47bafb;--fl:#1e65e7;--fr:#1d51cf"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:7.80%;top:75.20%;--t:13.4s;--d:-2.78s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#50b3fa;--fl:#2060e5;--fr:#214ed0"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:75.41%;top:73.92%;--t:13.1s;--d:-9.11s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#9c76f4;--fl:#343bd5;--fr:#4933d6"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:90.53%;top:74.13%;--t:11.3s;--d:-10.74s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#ad68f2;--fl:#3833d1;--fr:#522dd7"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:28.12%;top:84.53%;--t:12.0s;--d:-4.71s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#699ff8;--fl:#2654e0;--fr:#2e45d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:58.36%;top:84.24%;--t:12.8s;--d:-7.87s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#8b83f5;--fl:#2f44d9;--fr:#4039d4"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:65.95%;top:84.16%;--t:11.8s;--d:-8.88s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#937df4;--fl:#313fd7;--fr:#4436d5"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:69.77%;top:83.43%;--t:12.8s;--d:-8.84s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#9879f4;--fl:#323dd6;--fr:#4735d5"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:73.29%;top:83.94%;--t:11.4s;--d:-9.15s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#9c76f4;--fl:#333bd5;--fr:#4934d5"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:80.66%;top:84.40%;--t:12.4s;--d:-9.83s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#a46ff3;--fl:#3637d3;--fr:#4d31d6"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:92.58%;top:83.40%;--t:13.2s;--d:-11.16s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#b164f2;--fl:#3931d0;--fr:#542cd7"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:95.85%;top:83.54%;--t:12.3s;--d:-11.26s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#b561f2;--fl:#3a2fd0;--fr:#562bd7"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:-0.25%;top:92.68%;--t:12.4s;--d:-2.37s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#4ab7fa;--fl:#1f63e6;--fr:#1e50cf"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:7.60%;top:93.72%;--t:11.9s;--d:-3.04s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#53b0fa;--fl:#215fe4;--fr:#234dd0"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:15.43%;top:92.77%;--t:12.1s;--d:-4.20s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#5ca9f9;--fl:#235ae2;--fr:#284ad1"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:18.81%;top:93.69%;--t:13.2s;--d:-4.38s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#60a6f9;--fl:#2458e2;--fr:#2a48d1"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:30.39%;top:92.77%;--t:12.4s;--d:-5.29s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#6d9bf8;--fl:#2852df;--fr:#3044d2"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:45.27%;top:94.04%;--t:13.2s;--d:-7.06s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#7e8ef6;--fl:#2c4adb;--fr:#393ed3"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:49.02%;top:93.57%;--t:13.2s;--d:-7.23s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#828af6;--fl:#2d48da;--fr:#3b3cd4"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:71.58%;top:92.86%;--t:11.7s;--d:-9.25s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#9b76f4;--fl:#333bd5;--fr:#4934d5"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:75.00%;top:92.65%;--t:13.3s;--d:-9.97s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#9f73f3;--fl:#343ad4;--fr:#4b32d6"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:78.87%;top:92.55%;--t:12.6s;--d:-9.85s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#a46ff3;--fl:#3637d3;--fr:#4d31d6"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:86.30%;top:93.04%;--t:11.3s;--d:-10.60s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#ac69f2;--fl:#3833d2;--fr:#512ed7"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:90.10%;top:93.67%;--t:13.2s;--d:-11.29s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#b165f2;--fl:#3931d1;--fr:#542cd7"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:1.95%;top:101.97%;--t:11.1s;--d:-3.05s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#4fb4fa;--fl:#2061e5;--fr:#214ed0"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:62.21%;top:102.08%;--t:12.8s;--d:-8.43s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#937df4;--fl:#3140d7;--fr:#4437d5"><use xlink:href="#kb-far"/></svg></i>
    <i class="kb-cube" style="left:88.63%;top:101.99%;--t:12.4s;--d:-11.12s"><svg viewBox="-13 -13 26 26" style="opacity:0.3;--ft:#b165f2;--fl:#3931d1;--fr:#542cd7"><use xlink:href="#kb-far"/></svg></i>
  </div>
  <div class="kubus-hero__layer kubus-hero__layer--mid">
    <i class="kb-cube" style="left:23.56%;top:-1.01%;--t:13.1s;--d:-2.64s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#52b1fa;--fl:#215fe4;--fr:#234dd0"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:81.39%;top:1.36%;--t:11.9s;--d:-8.25s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#947cf4;--fl:#323fd7;--fr:#4536d5"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:15.02%;top:14.97%;--t:11.1s;--d:-2.35s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#4cb6fa;--fl:#1f62e6;--fr:#1f4fd0"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:20.28%;top:15.62%;--t:11.1s;--d:-2.39s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#52b1fa;--fl:#215fe5;--fr:#234dd0"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:38.50%;top:15.25%;--t:13.5s;--d:-4.31s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#67a1f8;--fl:#2655e0;--fr:#2d46d2"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:61.05%;top:14.07%;--t:12.5s;--d:-6.42s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#808cf6;--fl:#2c49db;--fr:#3a3dd3"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:73.24%;top:14.07%;--t:12.1s;--d:-7.74s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#8e81f5;--fl:#3042d8;--fr:#4138d4"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:0.01%;top:27.77%;--t:11.5s;--d:-1.17s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#3ec2fc;--fl:#1b69e9;--fr:#1854ce"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:17.08%;top:28.35%;--t:13.1s;--d:-2.36s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#51b2fa;--fl:#2060e5;--fr:#224dd0"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:22.93%;top:28.52%;--t:12.8s;--d:-3.21s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#58adf9;--fl:#225de3;--fr:#254bd0"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:76.58%;top:29.00%;--t:13.1s;--d:-8.09s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#947cf4;--fl:#323fd7;--fr:#4536d5"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:87.71%;top:30.19%;--t:13.1s;--d:-9.74s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#a171f3;--fl:#3539d4;--fr:#4c32d6"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:0.58%;top:58.57%;--t:11.0s;--d:-1.53s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#44bcfb;--fl:#1d66e7;--fr:#1b52cf"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:6.06%;top:58.98%;--t:11.6s;--d:-2.04s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#4bb7fa;--fl:#1f63e6;--fr:#1f50cf"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:75.81%;top:56.56%;--t:13.3s;--d:-8.89s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#9978f4;--fl:#333dd6;--fr:#4734d5"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:32.26%;top:72.68%;--t:13.2s;--d:-5.02s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#6b9df8;--fl:#2753df;--fr:#2f44d2"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:23.79%;top:88.05%;--t:12.3s;--d:-4.41s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#64a2f8;--fl:#2556e1;--fr:#2c47d1"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:28.74%;top:86.72%;--t:11.5s;--d:-5.10s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#6a9ef8;--fl:#2754e0;--fr:#2f45d2"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:47.18%;top:86.52%;--t:12.9s;--d:-6.83s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#7f8df6;--fl:#2c49db;--fr:#3a3ed3"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:76.14%;top:87.40%;--t:13.4s;--d:-9.84s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#a073f3;--fl:#3439d4;--fr:#4b32d6"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:93.29%;top:86.41%;--t:13.1s;--d:-11.40s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#b363f2;--fl:#3930d0;--fr:#552cd7"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:2.67%;top:99.98%;--t:12.7s;--d:-2.92s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#4fb4fa;--fl:#2061e5;--fr:#214ed0"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:25.92%;top:102.65%;--t:13.4s;--d:-5.02s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#6a9ef8;--fl:#2754e0;--fr:#2f45d2"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:78.98%;top:100.54%;--t:12.5s;--d:-10.13s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#a56ef3;--fl:#3637d3;--fr:#4e30d6"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:85.23%;top:100.97%;--t:12.8s;--d:-10.89s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#ac68f2;--fl:#3833d1;--fr:#512ed7"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:90.03%;top:102.04%;--t:13.3s;--d:-11.62s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#b264f2;--fl:#3930d0;--fr:#542cd7"><use xlink:href="#kb-mid"/></svg></i>
    <i class="kb-cube" style="left:96.36%;top:102.54%;--t:13.5s;--d:-12.17s"><svg viewBox="-21 -21 42 42" style="opacity:0.5;--ft:#b95ef1;--fl:#3b2dcf;--fr:#5829d8"><use xlink:href="#kb-mid"/></svg></i>
  </div>
  <div class="kubus-hero__layer kubus-hero__layer--near">
    <i class="kb-cube" style="left:18.08%;top:2.03%;--t:12.8s;--d:-1.96s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#4db5fa;--fl:#1f62e6;--fr:#204fd0"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:35.40%;top:-2.02%;--t:13.5s;--d:-3.56s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#60a6f9;--fl:#2459e2;--fr:#2a48d1"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:78.47%;top:-0.94%;--t:11.2s;--d:-7.69s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#917ff5;--fl:#3141d7;--fr:#4337d5"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:86.32%;top:-0.78%;--t:13.3s;--d:-8.54s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#9978f4;--fl:#333cd5;--fr:#4834d5"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:99.60%;top:23.12%;--t:11.2s;--d:-10.53s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#ad68f2;--fl:#3833d1;--fr:#522dd7"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:18.11%;top:43.90%;--t:12.8s;--d:-2.85s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#55aefa;--fl:#215ee4;--fr:#244cd0"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:95.91%;top:43.93%;--t:13.5s;--d:-10.42s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#ad68f2;--fl:#3833d1;--fr:#522dd7"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:12.73%;top:63.46%;--t:12.5s;--d:-3.11s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#53b0fa;--fl:#215fe4;--fr:#234dd0"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:83.76%;top:66.01%;--t:11.5s;--d:-10.15s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#a46ff3;--fl:#3637d3;--fr:#4d31d6"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:99.53%;top:66.93%;--t:11.5s;--d:-11.32s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#b661f2;--fl:#3a2ed0;--fr:#562ad7"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:16.98%;top:86.72%;--t:12.7s;--d:-3.97s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#5ca9f9;--fl:#235ae2;--fr:#2849d1"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:44.37%;top:85.51%;--t:13.2s;--d:-6.83s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#7b90f6;--fl:#2b4bdc;--fr:#383fd3"><use xlink:href="#kb-near"/></svg></i>
    <i class="kb-cube" style="left:51.39%;top:84.35%;--t:11.7s;--d:-7.16s"><svg viewBox="-32 -32 64 64" style="opacity:0.78;--ft:#838af6;--fl:#2d47da;--fr:#3c3cd4"><use xlink:href="#kb-near"/></svg></i>
  </div>
  <div class="kubus-hero__packets">
    <i class="kb-packet" style="left:23.56%;top:-1.01%;--dx:-87.6;--dy:17.1;--t:4.5s;--d:-3.1s"></i>
    <i class="kb-packet" style="left:81.39%;top:1.36%;--dx:-130.3;--dy:71.2;--t:5.9s;--d:-5s"></i>
    <i class="kb-packet" style="left:15.02%;top:14.97%;--dx:32.9;--dy:74.9;--t:3.5s;--d:-4.8s"></i>
    <i class="kb-packet" style="left:20.28%;top:15.62%;--dx:42.4;--dy:72.2;--t:5.9s;--d:-3.7s"></i>
    <i class="kb-packet" style="left:38.50%;top:15.25%;--dx:-49.6;--dy:-96.7;--t:4.6s;--d:-4.8s"></i>
    <i class="kb-packet" style="left:0.01%;top:27.77%;--dx:9;--dy:172.5;--t:5.9s;--d:-1.8s"></i>
    <i class="kb-packet" style="left:76.58%;top:29.00%;--dx:-12.3;--dy:154.4;--t:4.7s;--d:-1.8s"></i>
    <i class="kb-packet" style="left:87.71%;top:30.19%;--dx:131.1;--dy:76.9;--t:6.2s;--d:-5s"></i>
    <i class="kb-packet" style="left:6.06%;top:58.98%;--dx:106.7;--dy:25.1;--t:6.3s;--d:-1.7s"></i>
    <i class="kb-packet" style="left:32.26%;top:72.68%;--dx:-56.4;--dy:78.6;--t:5.7s;--d:-5.6s"></i>
    <i class="kb-packet" style="left:23.79%;top:88.05%;--dx:34;--dy:81.8;--t:5.9s;--d:-2.5s"></i>
    <i class="kb-packet" style="left:76.14%;top:87.40%;--dx:45.4;--dy:73.6;--t:5.0s;--d:-0.8s"></i>
    <i class="kb-packet" style="left:93.29%;top:86.41%;--dx:-52.1;--dy:87.5;--t:4.1s;--d:-3.3s"></i>
    <i class="kb-packet" style="left:85.23%;top:100.97%;--dx:178.1;--dy:8.8;--t:5.6s;--d:-1.4s"></i>
  </div>
</div>
